{%load static%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <a href = "{%url 'contatos'%}"> Link para contatos</a>
    <br>
    <a href = "{%url 'sobre'%}"> Link para sobre</a>
    <br>
    <a href = "{%url 'blog'%}"> Link para blog</a>
    <br>
    <a href = "{%url 'enderecos'%}"> Link para enderecos</a>
    <br>
    <a href = "{%url 'parceiros'%}"> Link para parceiros</a>
    
</body>
</html>